[credential]
    helper = osxkeychain
[user]
    name = Taylor Burgess
    email = tayloraburgess@users.noreply.github.com
[core]
    autocrlf = false
    excludesfile = ~/.gitignore_global
[pull]
    rebase = false
